_config/*
!_config/wezterm
!_config/nvim

# Hacky way to ignore only *.json files in my ~/.config/zed
!_config/zed
_config/zed/*
!_config/zed/*.json

_vim/backups
_vim/backups.nvim
_vim/backups.vim
_vim/spell
_vim/tmp
_vim/.netrwhist
.viminfo
*.o
*.hi
xmonad.errors
xmonad-*-linux
