/* Command Palette */
.quick-input-widget {
    background: rgba(var(--vscode-quickInput-background), 0.5) !important;
    backdrop-filter: blur(6px) !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 0.6em !important;
    padding: 0.5em !important;
    margin-bottom: 1em !important;
    background: transparent !important;
}

.monaco-list-rows {
    background: transparent !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    backdrop-filter: blur(2px) !important;
    top: 0;
    left: 0;
    z-index: 99 !important;
}

.mac {
    --monaco-monospace-font: Monaco, Menlo, Courier, monospace;
    font-family: Monaco, BlinkMacSystemFont, sans-serif;
}

/** thin scrollbars */
.scrollbar.vertical>.slider {
    position: absolute !important;
    right: 1px !important;
    width: 1px !important;
    background: #bc9abc !important;
    left: auto !important;
}
.scrollbar.horizontal>.slider {
    position: absolute !important;
    bottom: 1px !important;
    height: 1px !important;
    background: #bc9abc !important;
    top: auto !important;
}
