/* Command Palette */
.quick-input-widget {
    background: rgba(var(--vscode-quickInput-background), 0.5) !important;
    backdrop-filter: blur(6px) !important;
    box-shadow: 0 0 10px #bc9abc90 !important;
}

/* Command palette text input box */
.quick-input-filter .monaco-inputbox {
    border-radius: 0.6em !important;
    padding: 0.5em !important;
    margin-bottom: 1em !important;
    background: transparent !important;
}

.monaco-list-rows {
    background: transparent !important;
}

.mac {
    --monaco-monospace-font: Monaco, Menlo, Courier, monospace;
    font-family: Monaco, BlinkMacSystemFont, sans-serif;
}

/** thin scrollbars */
.scrollbar.vertical>.slider {
    left: auto !important;
    right: 1px !important;
    width: 1px !important;
    background: #bc9abc !important;
}
.scrollbar.horizontal>.slider {
    top: auto !important;
    bottom: 1px !important;
    height: 1px !important;
    background: #bc9abc !important;
}
